html, body {
  height: 100%;
  width: 100%;
  background-color: rgb(95, 95, 95);
  overflow: hidden;
}

.background {
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
}

#card {
  width: 90px;
  height: 120px;
  border-radius: 5px;
  transition: .2s;
  transform: perspective(1000px);
  filter: brightness(1);
  background-image: url("pic.jpg");
  background-size: 100%;
  box-shadow: 0 0 0 0 #000000;
}